---
import { getCollection, type CollectionEntry } from "astro:content";
import { default as Layout } from "../../layouts/BaseLayout.astro";
import { default as Post } from "../../components/post.astro";
import { default as Heading } from "../../components/heading.astro";

const blogPosts = await getCollection("blog");

blogPosts.sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => {
  // Sort by date descending
  return a.data.publishedAt > b.data.publishedAt ? -1 : 1;
});

const [featuredPost, ...otherPosts] = blogPosts;
---

<Layout title="Blog">
  <section class="page-intro">
    <p class="eyebrow">Writing</p>
    <Heading
      >Notes on software, tools, and the things I learn along the way.</Heading
    >
    <p class="lede">
      A small archive of thoughts on backend development, platforms, and the
      occasional conference or career turn.
    </p>
  </section>

  {featuredPost && <Post post={featuredPost} featured={true} />}

  {
    otherPosts.length > 0 && (
      <div class="post-grid">
        {otherPosts.map((post) => (
          <Post post={post} />
        ))}
      </div>
    )
  }
</Layout>
