---
import Heading from "../components/heading.astro";
import Table from "../components/table.astro";
import { type Props as TableProps } from "../components/table.astro";
import { default as Layout } from "../layouts/BaseLayout.astro";

const tableProps: TableProps = {
  header: ["Language", "Frameworks/Libraries"],
  rows: [
    ["PHP", "Symfony, Shopware, Doctrine, Laravel"],
    ["Javascript / Typescript", "VueJS, React, Astro"],
    ["Kotlin", "Spring Boot, Ktor"],
  ],
};
---

<Layout>
  <Heading>Welcome!</Heading>
  <div>
    I'm Steffen and I am a developer from Germany. Past positions included me
    using:
    <Table header={tableProps.header} rows={tableProps.rows} />
    Other tools that I have used include, but are not limited to: Docker, Kubernetes,
    Gitlab CI, AWS, Terraform, Pulumi, Ansible, and many more.
  </div>

  <p class="mt-8">
    You can find me on the following platforms:
    <ul class="list-disc self-center">
      <li>
        <a href="https://github.com/Sironheart" class="underline">GitHub</a>
      </li>
      <li>
        <a href="https://x.com/S_ironheart" class="underline">Twitter / X</a>
      </li>
      <li>
        <a href="https://bsky.app/profile/beisenherz.dev" class="underline"
          >Bluesky</a
        >
      </li>
    </ul>
  </p>
</Layout>
