---
import Table from "../components/table.astro";
import { type Props as TableProps } from "../components/table.astro";
import { default as Layout } from "../layouts/BaseLayout.astro";

const tableProps: TableProps = {
  header: ["Language", "Frameworks/Libraries"],
  rows: [
    ["PHP", "Symfony, Shopware, Doctrine, Laravel"],
    ["Javascript / Typescript", "VueJS, React, Astro"],
    ["Kotlin", "Spring Boot, Ktor"],
  ],
};
---

<Layout>
  <h1 class="mb-4 mt-8 text-center text-3xl">Welcome!</h1>
  <div class="text-center">
    I'm Steffen and I am a developer from Germany. Past positions included me
    using:
    <Table header={tableProps.header} rows={tableProps.rows} />
    Other tools that I have used include, but are not limited to: Docker, Kubernetes,
    Gitlab CI, AWS, Terraform, Pulumi, Ansible, and many more.
  </div>

  <p class="mt-8 text-center">
    You can find me on the following platforms:
    <ul class="list-disc self-center">
      <li>
        <a href="https://twitter.com/S_ironheart" class="underline">Twitter</a>
      </li>
      <li>
        <a href="https://bsky.app/profile/beisenherz.dev" class="underline"
          >Bluesky</a
        >
      </li>
    </ul>
  </p>
</Layout>
