---
import NavbarItem from "./navbar-item.astro";
---

<nav class="flex justify-start border-b border-gray-700 py-4 align-middle">
  <NavbarItem fill={true}>
    <a slot="content" href="/" class="px-4"> Home </a>
  </NavbarItem>
  <slot />
</nav>
