---
export interface Props {
  header: string[];
  rows: string[][];
}

const props = Astro.props as Props;
---

<div class="table-shell">
  <table class="data-table">
    <thead>
      <tr>
        {props.header.map((header) => <th>{header}</th>)}
      </tr>
    </thead>
    <tbody>
      {
        props.rows.map((row) => (
          <tr>
            {row.map((cell) => (
              <td>{cell}</td>
            ))}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
